<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
    
    <body>
        <section style="margin-top: 150px;">
            <div style="text-align: center;">
             <h2 style="color: black;">Welcome to Our Agricultural Products Store</h2>
            <p style="color: black;">Discover a wide range of fresh and quality agricultural products for your needs.</p>
            <button style="background-color: black;border-radius: 5px;height: 40px;width: 130px;"><a style="color: white;" th:href="@{/user/buyproducts}">Buy Now</a></button>
            </div>
        </section>
    </body>
</html>