<!DOCTYPE html>
<html lang="ar" dir="rtl" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
    
    <body>
        <section style="margin-top: 100px;">
            <div style="text-align: center;">
                
            <h1 class="font-weight-bold">Agri Tech Grow</h1>
            
            <button style="background-color: #333333;width: 150px;height: 50px;border-radius: 8px;"><a style="text-decoration: none;color: white;" th:href = "@{/signup}">Get Started</a></button>
            
            </div>
        </section>
    </body>
</html>